# Copy this file to .env and fill in your values
# Sao chép file này thành .env và điền thông tin của bạn

# Google Cloud Configuration
GOOGLE_CLOUD_PROJECT=invertible-now-462103-m3
BIGQUERY_DATASET=weather_and_air_dataset
GOOGLE_APPLICATION_CREDENTIALS=credentials/invertible-now-462103-m3-23f2fe58ae65.json

# Application Configuration
ENVIRONMENT=development
DEBUG=true 