[build]
  base = "frontend-react"
  command = "ls -la && pwd && cat tsconfig.json && npx tsc -p tsconfig.json && npx vite build"
  publish = "dist"

[build.environment]
  NODE_VERSION = "18"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200